* {
	margin: 0;
	padding: 0;
}

body {
	width:1280px;
	height:720px;
	margin: 0 auto;
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #000000;
	text-shadow: 1px 1px 1px #cccccc;
}

p {
	text-align: justify;
}

header,aside,section,footer {
	display: block;
}

h1 {
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

#ukaCanvasDiv {
     width: 1000px;
     height:500px;
     margin: 0px auto;
}

#ukaCanvas {
	width: 100%;
	height: 100%;
}

/*
Header
*/
#header {
	position:absolute;
	left: 450px;
	width:30%;
	text-align: center;
}

#findMyApp {
	content: url(ukalogo.png), contents;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	padding: 18px 0;
	height:45px;
}

/*
Container for the main content section
*/
#mainContent {
	width: inherit;
	height: inherit;	
}

/*
Container for left toolbar within mainContent
*/
#left_aside {
	position: absolute;
	left: 0px;
	width: 20%;
	height: 97%;
	background: #f3f3f3;
}

#left_aside section {
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	background: #e0e0e0;
	height:100%;
	width: 95%;	
	margin-right:5%;
	margin-top:10px;
}

#todays-events-div {
	position: absolute;
	top:50px;
}
	
#tomorrows-events-div {
	position: absolute;
	top:300px;
}

.event-table th {
	padding: 15px 8px;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid #EEE;
}
.event-table td {
	padding: 8px 8px;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid #EEE;
}

/*
Container for middle section within mainContent
*/
#mcontent {
	position: absolute;
	top:91px;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	width: 740px;
	height: 450px;
}

#map-with-selection {
	margin-left: 170px;
	
	width: 50%;
}

#room-info-div {
	position: absolute;
	width: 600px;
	top:200px;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#event-info-div {
	position: absolute;
	width: 600px;
	top:230px;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#event-close-button {
	position: absolute;
	left: 550px;
	top: 1px;
}

/*
Container for right section within mainContent
*/
#right_aside {
	position: absolute;
	right: 0px;
	width: 20%;
	height: 97%;
	background: #f3f3f3;
}

#right_aside section {
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	background: #e0e0e0;
	margin-left:5%;
	margin-top:10px;
	height:100%;
	width: 95%;	
}

#people_counter_div {
	width:100px;
	height: 150px;
	margin-left:auto;
	margin-right: auto;
}

#people_counter_paragraph {
	text-align:center;
	font-size:200%;
}

#people_icon {
	margin-top:20px;
}

#temp_chart {
	padding-top: 40px;
}

/**
Footer thingies
*/
footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 6%;
}

#livefeed_font {
	width:100%;
	height:100%;
	font-size:200%;
}

#live_feed {
	position: absolute;
	width: inherit;
	height: inherit;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 1px;
}

#back_button {
	position: absolute;
	left: 300px;
	width: 80px;
	height: 80px;
}

